[user]
	name = chinggg
	email = 24590067+chinggg@users.noreply.github.com
[core]
	fileMode = false
	editor = vim
	quotepath = off
[http]
	postBuffer = 524288000
[init]
	defaultBranch = main
[color]
	ui = auto
[alias]
    st = status
	d = diff
	ds = diff --staged
	b = branch
    rv = remote -v
    find = log --oneline --name-status -i --grep

[include]
   path = .gitconfig-local
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
